<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.gabrielepartiti.tuuli.helper</string>
	<key>Program</key>
	<string>/Library/PrivilegedHelperTools/com.gabrielepartiti.tuuli.helper</string>
	<key>MachServices</key>
	<dict>
		<key>com.gabrielepartiti.tuuli.helper</key>
		<true/>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
</dict>
</plist>
